<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login Page</title>
</head>
<body>
<div class="login-container">
    {% if user_added %}
    <div class="success-message">
        <h2>User added successfully! you can connect to your account</h2>
    </div>
    {% endif %}
        {% if password_changed %}
    <div class="success-message">
        <h2>Password changed successfully! you can connect to your account</h2>
    </div>
    {% endif %}


    <h1>Login to Your Account</h1>
    <form method="post" action="{{ url_for('login') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <p>Don't have an account? <a href="{{ url_for('register') }}">Create New Account</a></p>
    <p>Forgot password? <a href="{{ url_for('password_reset') }}">change my password</a></p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
</body>
</html>
