<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>New User Register</title>
</head>
<body>
<div class="login-container">
    <h1>Create New Account</h1>
    <form method="post" action="{{ url_for('register') }}">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <br><br>
        <label for="publish_sectors">Publish Sectors:</label>

        <div class="sectors-container">
            {% for sector in sectors %}
            <div class="checkbox">
                <input type="checkbox" id="{{ sector }}" name="publish_sectors[]" value="{{ sector }}">
                <label for="{{ sector }}">{{ sector }}</label>
            </div>
            {% endfor %}
        </div>
        <br><br>
        <button type="submit">Create New Account</button>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class="flashes">
            {% for message in messages %}
            <li class="error_message">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}

    </form>
        <form method="GET" action="{{ url_for('login') }}">
        <button type="submit">Back to login page</button>
    </form>

</div>
</body>
</html>
