h1,
label,
p {
  color: #01579b
}
.flashes,
.flashes li,
.success-message,
h1,
p {
  text-align: center
}
body {
  font-family: Arial, sans-serif;
  background-color: #68c7ff;
  margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("security_image.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh
}
.login-container {
  width: 25vw;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,.1);
  background-color: rgba(255,255,255,.3)
}
.success-message,
form,
h1 {
  margin-bottom: 20px
}
.success-message {
  background-color: #9DDAA7;
  color: #F1F3F1;
  padding: 15px;
  border-radius: 8px
}
h1 {
  font-size: 24px
}
label {
  font-weight: 700
}
input[type=password],
input[type=text] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box
}
button {
  width: 100%;
  padding: 10px 20px;
  background-color: #01579b;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer
}
button:hover {
  background-color: #01395a
}
p a {
  color: #01395a;
  text-decoration: none
}
p a:hover {
  text-decoration: underline
}
.flashes {
  list-style-type: none;
  padding: 0;
  margin: 0
}
.flashes li {
  color: red;
  display: block;
  margin-bottom: 10px;
  width: 100%
}

.sectors-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.checkbox {
  display: flex;
  align-items: center;
}

.checkbox input {
  margin-right: 10px;
}
