body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('6037795.jpg'); /* Adjust image path if necessary */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #00ff00; /* Set font color */
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%; /* Adjust width for better responsiveness */
    max-width: 1000px;
    height: 90vh; /* Adjust height to fit content properly */
    border: 1px solid #00ff00;
    padding: 10px;
    box-shadow: 0 0 10px rgba(46, 249, 164, 0.8); /* Adjust shadow intensity */
    box-sizing: border-box;
    background-color: rgba(47, 82, 222, 0.8); /* Semi-transparent background */
    overflow: auto; /* Prevent overflow content */
}

.question {
    display: none; /* Hide all questions initially */
}

.question:first-child {
    display: block; /* Display the first question initially */
}

.box {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    margin-bottom: 20px; /* Adjust margin bottom */
    border: 1px solid #00ff00;
    box-shadow: 0 0 10px rgba(46, 249, 164, 0.8);
    box-sizing: border-box;
    overflow: auto; /* Prevent overflow content */
}

.code-box {
    max-height: 400px; /* Limit height to prevent overflow */
    overflow: auto;
    margin-bottom: 10px;
    border: 1px solid #00ff00;
    box-shadow: 0 0 10px rgba(46, 249, 164, 0.8);
    box-sizing: border-box;
}

.code-box pre {
    margin: 0;
    font-size: 14px;
    color: #00ff00; /* Set font color for code */
}

.answer-box {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Add margin top for spacing */
    overflow: auto; /* Prevent overflow content */
}

.left-section, .right-section {
    flex: 1;
    padding: 10px;
    border: 1px solid #00ff00;
    box-shadow: 0 0 10px rgba(46, 249, 164, 0.8);
    box-sizing: border-box;
}

.right-section {
    margin-left: 10px; /* Adjust margin left for spacing */
}

.Correction_options button {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: #00ff00;
    color: rgb(0, 47, 255);
    cursor: pointer;
    font-size: 14px;
}

.Correction_options button:hover {
    background-color: #00ff00;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: 20px; /* Add margin top for spacing */
}

.navigation button {
    padding: 10px 20px;
    border: none;
    background-color: #00ff00;
    color: rgb(0, 47, 255);
    cursor: pointer;
    font-size: 16px;
}

.navigation button:hover {
    background-color: #00ff00;
}
