<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Security Quiz</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='website1.css') }}">
</head>

<body>
    <div class="container">

        <h1>{{ username }} game grade: {{ grade }}</h1>
        <div class="button-container">
            <a href="{{ url_for('user_summarise') }}">
                <button class="button" type="submit">user games summarise</button>
            </a>
            <br><br>

            <a href="{{ url_for('user_dashboard', name=username) }}">
                <button class="button" type="submit">Back to Homepage</button>
            </a>
            <br><br>

            <a href="{{ url_for('logout') }}">
                <button class="button" type="submit">Logout</button>
            </a>
        </div>
</body>

</html>