<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Enter Token</title>
</head>
<body>
<div class="login-container">
    <h1>Enter Token</h1>
    <form method="post" action="{{ url_for('password_reset_token') }}">
        <label for="token">Token:</label>
        <input type="text" id="token" name="token" required>
        <br><br>
        <button type="submit">Submit Token</button>
    </form>
    <form method="GET" action="{{ url_for('login') }}">
        <button type="submit">Back to login page</button>
    </form>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class="flashes">
        {% for message in messages %}
        <li class="error_message">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</div>
</body>
</html>
